@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Montserrat:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Heebo", sans-serif;
  color: #fff;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal input[type="text"] {
  margin: 15px 0;
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

.modal button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 1.5rem;
  background-color: #333;
  border: 2px solid #444;
  width: 65%;
  height: 60%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  height: 50%;
  background-color: #444;
}

.options {
  height: 50%;
  background-color: #444;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}
.option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option button {
  width: 70%;
  height: 50%;
  border-radius: 100px;
  color: #fff;
}
.optBtns {
  background-color: #555;
}

.correct {
  border: 2px solid #2ecc71;
  background-color: #0f803e;
}
.wrong {
  border: 2px solid #e74c3c;
  background-color: #8a1e13;
}

.next {
  align-self: center;
  justify-self: center;
  padding: 10px;
  margin-top: 15px;
  width: 100px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next:hover {
  background-color: #0056b3;
}

.jcs-aic {
  justify-content: center;
  align-items: center;
}

#scoreCard {
  font-size: 2.5rem;
  margin-top: 20px;
}

.res {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#tryAgain {
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#tryAgain:hover {
  background-color: #0056b3;
}
